---
import img1 from '../images/1.jpg';
import img2 from '../images/2.jpg';
import img3 from '../images/3.jpg';
import img4 from '../images/4.svg';
import img5 from '../images/5.svg';
import img6 from '../images/6.svg';
import img7 from '../images/7.svg';
import img8 from '../images/8.svg';
import img9 from '../images/9.svg';

import { Image } from '@astrojs/image/components';
---

<section>
  <h1 class='text-3xl font-bold text-center mt-16'>Features</h1>
  <div class='flex flex-col items-center justify-center'>
    <Image
      src={img1}
      alt={'logo'}
      width={1000}
      height={700}
      quality={80}
      format={'webp'}
      class='mt-16 w-full max-w-5xl'
    />
    <Image
      src={img2}
      alt={'logo'}
      width={1000}
      height={700}
      quality={80}
      format={'webp'}
      class='mt-16 w-full max-w-5xl'
    />
    <Image
      src={img3}
      alt={'logo'}
      width={1000}
      height={700}
      quality={80}
      format={'webp'}
      class='mt-16 w-full max-w-5xl'
    />
  </div>
  <div class='flex flex-wrap gap-4 items-center mt-24'>
    <div class='feature-card'>
      <Image src={img4} alt={'logo'} width={50} height={50} quality={80} />
      <h3>Limited Time Events</h3>
    </div>
    <div class='feature-card'>
      <Image src={img5} alt={'logo'} width={50} height={50} quality={80} />

      <h3>Classic Barn Finds</h3>
    </div>
    <div class='feature-card'>
      <Image src={img6} alt={'logo'} width={50} height={50} quality={80} />

      <h3>Jobs</h3>
    </div>
    <div class='feature-card'>
      <Image src={img9} alt={'logo'} width={50} height={50} quality={80} />

      <h3>Customization</h3>
    </div>
    <div class='feature-card'>
      <Image src={img7} alt={'logo'} width={50} height={50} quality={80} />

      <h3>Crews with friends</h3>
    </div>
    <div class='feature-card'>
      <Image src={img8} alt={'logo'} width={50} height={50} quality={80} />

      <h3>And more!</h3>
    </div>
  </div>
</section>
